.availableProductsSection {
  width: 100%;
  height: calculateToVwFrom1920(912);
  padding: calculateToVwFrom1920(120) calculateToVwFrom1920(195);
  background-color: $blackColor;
  display: flex;
  flex-direction: column;
  h1 {
    width: calculateToVwFrom1920(1530);
    height: calculateToVwFrom1920(60);
    @include fw400fs50lh60ls0taLeft;
    color: $whiteColor;
    margin-bottom: calculateToVwFrom1920(60);
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: grid;
      grid-template-columns:
        calculateToVwFrom1920(430) calculateToVwFrom1920(48)
        calculateToVwFrom1920(33.54) calculateToVwFrom1920(260)
        calculateToVwFrom1920(115) calculateToVwFrom1920(390);
      column-gap: calculateToVwFrom1920(38.69);
      justify-content: center;
      border-radius: calculateToVwFrom1920(30);
      width: 100%;
      background: $whiteColor;
      height: calculateToVwFrom1920(66);
      @include hoverBorderBrendYellow;
      &:not(:last-child) {
        margin-bottom: calculateToVwFrom1920(15);
      }
      * {
        display: flex;
        align-items: center;
      }

      p,
      b {
        opacity: 80%;
      }
      p {
        @include fw500fs20lh2438ls0taLeft;
      }
      b {
        @include fw700fs20lh2438;
      }
      .brendName {
        img {
          height: calculateToVwFrom1920(40);
          width: calculateToVwFrom1920(36);
          margin-right: calculateToVwFrom1920(6);
        }

        h4 {
          *:not(:last-child) {
            margin-right: calculateToVwFrom1920(10);
          }
        }
      }
      .price {
        *:not(:last-child) {
          margin-right: calculateToVwFrom1920(20);
        }
      }
      .colorPreviev {
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .battonsSection {
        justify-content: space-between;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
        }

        .markAsFavoriteBtn {
          height: calculateToVwFrom1920(46);
          width: calculateToVwFrom1920(46);
          border-radius: 50%;
          img {
            min-height: 15px;
            min-width: 10.38px;
            height: calculateToVwFrom1920(15);
            width: calculateToVwFrom1920(10.38);
          }
        }
        .buyBtn {
          height: calculateToVwFrom1920(46);
          width: calculateToVwFrom1920(212);
          border-radius: calculateToVwFrom1920(24);
        }
        .details {
          height: calculateToVwFrom1920(20);
          width: calculateToVwFrom1920(102);
          @include hoverBrendBlackUnderline(0.3);
        }
        .markAsFavoriteBtn,
        .buyBtn {
          border: solid 1px $blackColor;
          @include buttonHoverActiveBorder(
            $whiteColor,
            $yellowColor,
            $yellowPressedColor
          );
        }
        .details,
        .buyBtn {
          @include fw600fs16lh195ls0taLeft;
        }
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  .availableProductsSection {
    width: calculateToVwFrom360(360);
    height: calculateToVwFrom360(890);
    padding: calculateToVwFrom360(60) calculateToVwFrom360(15);
    gap: calculateToVwFrom360(30);
    h1 {
      margin: 0;
      @include fw500fs26lh3169For360;
      height: max-content;
      width: calculateToVwFrom360(270);
    }
    ul {
      li {
        width: calculateToVwFrom360(330);
        height: calculateToVwFrom360(88);
        border-radius: calculateToVwFrom360(10);
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 0 calculateToVwFrom360(7) calculateToVwFrom360(30);
        justify-content: center;
        gap: calculateToVwFrom360(5);
        &:not(:last-child) {
          margin-bottom: calculateToVwFrom360(10);
        }
        div.colorPreviev {
          position: absolute;
          height: 100%;
          width: calculateToVwFrom360(20);
          border-radius: calculateToVwFrom360(10) 0 0 calculateToVwFrom360(10);
          left: 0;
          top: 0;

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 120%;
            top: 0;
          }
        }
        .battonsSection {
          display: none;
        }
        & > p {
          display: none;
        }
        .brendName {
          height: calculateToVwFrom360(27);
          gap: calculateToVwFrom360(10);

          img {
            width: calculateToVwFrom360(30);
            height: calculateToVwFrom360(27);
            object-fit: contain;
            object-position: center;
          }
          h4 {
            gap: calculateToVwFrom360(4);
            b {
              @include fw700fs14lh1707for360;
            }
            p {
              @include fw400fs14lh1707For360;
            }
          }
        }
        .price {
          height: calculateToVwFrom360(29);
          padding: 0 0 0 calculateToVwFrom360(40);
          gap: calculateToVwFrom360(10);
          p {
            @include fw400fs18lh288For360;
          }
          p::after {
            content: "/";
            margin-left: calculateToVwFrom360(10);
          }
          b {
            @include fw700fs18lh288For360;
          }
        }
      }
    }
  }
}
