.colorCarPresentation {
  height: calculateToVwFrom1920(1000);
  position: relative;
  @include backgroungLinearGray;
  .worningMassege {
    position: absolute;
    top: calculateToVwFrom1920(159);
    right: calculateToVwFrom1920(195);
    width: calculateToVwFrom1920(360);
    @include fw400fs14lh1707;
    color: $grayColor;
    z-index: 2;
  }
  .choiseColor {
    position: absolute;
    bottom: calculateToVwFrom1920(155);
    left: calculateToVwFrom1920(195);
    width: calculateToVwFrom1920(660);
    @include fw400fs14lh1707;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calculateToVwFrom1920(30);
    row-gap: calculateToVwFrom1920(20);
    z-index: 2;
    button {
      background: none;
      @include fw500fs26lh3169;
      text-align: justify;
      opacity: 50%;
      color: $blackColor;
    }
    button.currectChoise {
      opacity: 100%;
    }
  }
  .colorCarImg {
    position: absolute;
    height: calculateToVwFrom1920(550);
    top: calculateToVwFrom1920(211);
    left: calculateToVwFrom1920(325);
    width: calculateToVwFrom1920(1270);
    z-index: 1;
    object-fit: contain;
  }
}
@media screen and (max-width: $minWidthForMobileView) {
  .colorCarPresentation {
    height: calculateToVwFrom360(660);
    .choiseColor {
      top: calculateToVwFrom360(60);
      left: calculateToVwFrom360(15);
      bottom: unset;
      display: flex;
      flex-direction: column;
      width: max-content;
      gap: calculateToVwFrom360(15);
      button {
        @include fw500fs20lh2438For360;
      }
    }
    .colorCarImg {
      top: unset;
      left: unset;
      bottom: calculateToVwFrom360(171);
      height: calculateToVwFrom360(150);
      width: calc(
        100% - #{calculateToVwFrom360(15)} - #{calculateToVwFrom360(15)}
      );
      margin: 0 calculateToVwFrom360(15);
    }
    .worningMassege {
      top: unset;
      left: unset;
      right: unset;
      bottom: calculateToVwFrom360(60);
      width: calc(
        100% - #{calculateToVwFrom360(15)} - #{calculateToVwFrom360(15)}
      );
      margin: 0 calculateToVwFrom360(15);
      @include fw400fs14lh1707For360;
    }
  }
}
