.colorCarPresentation {
  height: calculateToVwFrom1920(1000);
  position: relative;
  @include backgroungLinearGray;
  .worningMassege {
    position: absolute;
    top: calculateToVwFrom1920(159);
    right: calculateToVwFrom1920(195);
    width: calculateToVwFrom1920(360);
    @include fw400fs14lh1707;
    z-index: 2;
  }
  .choiseColor {
    position: absolute;
    bottom: calculateToVwFrom1920(155);
    left: calculateToVwFrom1920(195);
    width: calculateToVwFrom1920(660);
    @include fw400fs14lh1707;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calculateToVwFrom1920(30);
    row-gap: calculateToVwFrom1920(20);
    z-index: 2;
    button {
      background: none;
      @include fw500fs26lh3169;
      text-align: justify;
      opacity: 50%;
      color: $blackColor;
    }
    button.currectChoise {
      opacity: 100%;
    }
  }
  .colorCarImg {
    position: absolute;
    height: calculateToVwFrom1920(550);
    top: calculateToVwFrom1920(211);
    left: calculateToVwFrom1920(325);
    width: calculateToVwFrom1920(1270);
    z-index: 1;
    object-fit: contain;
  }
}
