.currectCarDeatil {
  width: 100%;
  height: calculateToVwFrom1920(1003);
  padding: calculateToVwFrom1920(226) calculateToVwFrom1920(195)
    calculateToVwFrom1920(160);
  background-color: $blackColor;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: calculateToVwFrom1920(120);

  h2 {
    height: calculateToVwFrom1920(39);
    @include fw500fs32lh3901;
  }
  .currectCarInformation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calculateToVwFrom1920(30);
    color: white;
    & > .informationCar {
      display: flex;
      flex-direction: column;

      p {
        width: 66%;
        @include fw400fs18lh288;
      }
    }
    & > div.metricArticles {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: calculateToVwFrom1920(60);
      & > article {
        height: calculateToVwFrom1920(84);
        position: relative;
        * {
          @include fw500fs20lh2438ls0taLeft;
        }
        &:not(:last-child) {
          border-right: solid calculateToVwFrom1920(1);
        }

        & p:first-child {
          @include fw400fs50lh60;
        }
        & > .metricsInfoContainer {
          position: absolute;
          top: 0;
          left: calculateToVwFrom1920(95);
        }
      }
    }
    & > div {
      display: flex;
      flex-direction: column;
      position: relative;
      ul {
        @include specialBorder(0);
        li {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          height: calculateToVwFrom1920(42);
          @include fw500fs18lh2194;
          @include hoverBackgroundBrendYellowForLi(
            $whiteColor,
            $blackColor,
            $blackColor,
            $yellowColor
          );
          cursor: pointer;
          p {
            display: flex;
            align-items: center;
          }
        }
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        height: calculateToVwFrom1920(40);
        background: none;
        color: $yellowColor;
        display: flex;
        align-items: center;
        @include fw600fs16lh195;
        img {
          height: calculateToVwFrom1920(20);
          width: calculateToVwFrom1920(20);
          margin-left: calculateToVwFrom1920(5);
        }
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
}
