.currectCarSection {
  background: url("./Assets/Images/cars/GENESIS\ G80.png") center/cover;
  width: 100%;
  height: calculateToVwFrom1920(900);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .carInfo {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 calculateToVwFrom1920(195) calculateToVwFrom1920(60);
    z-index: 2;

    h2 {
      color: $whiteColor;
    }
    .carName {
      @include fw400fs64lh77ls0taLeft;
    }
    .carPrice {
      @include fw400fs50lh60ls0taLeft;
      opacity: 98.43%;
      display: flex;
      gap: calculateToVwFrom1920(30);
      * {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  .currectCarSection {
    height: calculateToVwFrom360(600);
    position: relative;
    .carInfo {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: calculateToVwFrom360(294);
      bottom: 0;
      left: 0;
      gap: calculateToVwFrom360(10);
      padding: 0 0 calculateToVwFrom360(15) calculateToVwFrom360(15);
      .carName {
        @include fw500fs26lh3169For360;
      }
      .carPrice {
        @include fw500fs20lh2438For360;
        gap: calculateToVwFrom360(30);
      }
    }
  }
}
