.currectCarDeatil {
  width: 100%;
  height: calculateToVwFrom1920(1003);
  padding: calculateToVwFrom1920(226) calculateToVwFrom1920(195)
    calculateToVwFrom1920(160);
  background-color: $blackColor;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: calculateToVwFrom1920(120);

  h2 {
    height: calculateToVwFrom1920(39);
    @include fw500fs32lh3901;
  }
  .currectCarInformation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calculateToVwFrom1920(30);
    color: white;
    & > .informationCar {
      display: flex;
      flex-direction: column;

      p {
        width: 66%;
        @include fw400fs18lh288;
      }
    }
    & > div.metricArticles {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: calculateToVwFrom1920(60);
      & > article {
        height: calculateToVwFrom1920(84);
        position: relative;
        * {
          @include fw500fs20lh2438ls0taLeft;
        }
        &:not(:last-child) {
          border-right: solid calculateToVwFrom1920(1);
        }

        & p:first-child {
          @include fw400fs50lh60;
        }
        & > .metricsInfoContainer {
          position: absolute;
          top: 0;
          left: calculateToVwFrom1920(95);
        }
      }
    }
    & > div {
      display: flex;
      flex-direction: column;
      position: relative;
      ul {
        @include specialBorder(0);
        li {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          height: calculateToVwFrom1920(42);
          @include fw500fs18lh2194;
          @include hoverBackgroundBrendYellowForLi(
            $whiteColor,
            $blackColor,
            $blackColor,
            $yellowColor
          );
          cursor: pointer;
          p {
            display: flex;
            align-items: center;
          }
        }
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        height: calculateToVwFrom1920(40);
        background: none;
        color: $yellowColor;
        display: flex;
        align-items: center;
        @include fw600fs16lh195;
        img {
          height: calculateToVwFrom1920(20);
          width: calculateToVwFrom1920(20);
          margin-left: calculateToVwFrom1920(5);
        }
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  .currectCarDeatil {
    height: calculateToVwFrom360(946);
    padding: calculateToVwFrom360(60) calculateToVwFrom360(15);
    .currectCarInformation {
      display: flex;
      flex-direction: column;
      gap: calculateToVwFrom360(30);
      div.metricArticles {
        order: -1;
        & > article {
          height: calculateToVwFrom360(39);
          p:first-child {
            @include fw500fs18lh2194for360;
          }
          & > * {
            @include fw400fs14lh1707For360;
          }
          & > .metricsInfoContainer {
            top: 0;
            left: calculateToVwFrom360(38);
          }
        }
      }
      .informationCar {
        h2 {
          display: none;
        }
        p {
          @include fw400fs18lh288For360;
          width: 100%;
        }
      }
      & > div {
        h2 {
          @include fw500fs26lh3169For360;
          height: calculateToVwFrom360(32);
          margin-bottom: calculateToVwFrom360(10);
        }

        ul {
          li {
            display: flex;
            justify-content: space-between;
            height: max-content;
            padding: calculateToVwFrom360(9) 0;
            p {
              @include fw400fs16lh224For360;

              &.hideForMobile {
                display: none;
              }
            }
          }
        }
      }
      .withButton {
        ul {
          margin-bottom: calculateToVwFrom360(83);
        }
        button {
          bottom: calculateToVwFrom360(13);
          right: 0;
          @include fw600fs16lh195For360;
          padding: calculateToVwFrom360(10) 0;
          height: max-content;
          img {
            width: calculateToVwFrom360(20);
            height: calculateToVwFrom360(20);
            margin-left: calculateToVwFrom360(5);
          }
        }
      }
    }
  }
}
