.footer {
  width: 100%;
  height: calculateToVwFrom1920(523);
  background-color: $footerBlack;
  margin: -1px 0 0 0;
  .linksBlock {
    width: calculateToVwFrom1920(1920);
    height: calculateToVwFrom1920(364);
    padding: calculateToVwFrom1920(80) calculateToVwFrom1920(195)
      calculateToVwFrom1920(55);
    display: flex;
    justify-content: space-between;
    .hrefsBlock {
      width: calculateToVwFrom1920(750);
      gap: calculateToVwFrom1920(30);
      display: flex;
      & > div {
        width: calculateToVwFrom1920(230);
        gap: calculateToVwFrom1920(20);
        display: flex;
        flex-direction: column;
        h4 {
          color: $whiteColor;
          opacity: 50%;
          @include fw500fs20lh2438ls0taLeft;
          height: calculateToVwFrom1920(24);
        }
        & > div {
          display: flex;
          flex-direction: column;
          gap: calculateToVwFrom1920(10);
          a {
            @include fw400fs18lh288;
            color: $whiteColor;
            height: calculateToVwFrom1920(29);
            @include hoverBrendYellow;
          }
        }
      }
    }
    .footerDisclaimer {
      display: flex;
      gap: calculateToVwFrom1920(20);
      flex-direction: column;
      p {
        width: calculateToVwFrom1920(421);
        height: calculateToVwFrom1920(58);
        @include fw400fs18lh288;
        color: $whiteColor;
      }
      .socialNetworks {
        display: flex;
        gap: calculateToVwFrom1920(30);
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calculateToVwFrom1920(30);
          height: calculateToVwFrom1920(30);
          @include hoverBrendYellow;
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $whiteColor;
            }
          }
        }
      }
    }
  }
  .bottomLinksContainer {
    width: 100%;
    height: calculateToVwFrom1920(159);
    padding: calculateToVwFrom1920(60) calculateToVwFrom1920(195);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
      width: calculateToVwFrom1920(198);
      height: calculateToVwFrom1920(39);
      @include fw500fs32lh3901;
      color: $whiteColor;
    }
    .bottomLinks {
      width: calculateToVwFrom1920(987);
      height: calculateToVwFrom1920(17);
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        opacity: 50%;
        @include fw400fs14lh1707;
        color: $whiteColor;
        @include hoverBrendYellow;
      }
    }
  }
}
@media screen and (max-width: $minWidthForMobileView) {
  .footer {
    height: unset;
    .linksBlock {
      padding: calculateToVwFrom360(30) calculateToVwFrom360(15);
      height: unset;
      flex-direction: column;
      gap: calculateToVwFrom360(30);

      .hrefsBlock {
        flex-direction: column;
        width: 100%;
        gap: calculateToVwFrom360(30);

        & > div {
          width: unset;
          gap: calculateToVwFrom360(20);
          flex-direction: column;
          h4 {
            @include fw500fs20lh2438For360;
            height: unset;
          }
          & > div {
            gap: calculateToVwFrom360(10);
            a {
              @include fw400fs18lh288For360;

              height: unset;
            }
          }
        }
      }
      .footerDisclaimer {
        gap: calculateToVwFrom360(20);
        p {
          width: unset;
          height: unset;
          @include fw400fs18lh288For360;
        }
        .socialNetworks {
          gap: calculateToVwFrom360(30);
          a {
            width: calculateToVwFrom360(30);
            height: calculateToVwFrom360(30);
            padding: calculateToVwFrom360(2.5);
          }
        }
      }
    }

    .bottomLinksContainer {
      height: unset;
      padding: calculateToVwFrom360(30) calculateToVwFrom360(15);
      flex-direction: column;
      align-items: normal;
      gap: calculateToVwFrom360(20);

      & > h2 {
        width: unset;
        height: unset;
        @include fw500fs32lh3901For360;
      }
      .bottomLinks {
        width: unset;
        height: unset;
        flex-direction: column;
        align-items: normal;
        gap: calculateToVwFrom360(20);

        a {
          @include fw400fs14lh1707For360;
        }
      }
    }
  }
}
