.header {
  background-color: $blackColor;
  position: fixed;
  width: 100vw;
  height: calculateToVwFrom1920(96);
  top: 0;
  z-index: 5;

  .logo {
    @include fw700fs36lh36ls0taLeft;
    width: calculateToVwFrom1920(230);
    height: calculateToVwFrom1920(36);
    text-align: left;
    color: #ffffff;
    position: absolute;
    left: calculateToVwFrom1920(195);
    top: calculateToVwFrom1920(30);
  }
  .headerContactInfo {
    width: calculateToVwFrom1920(752); //251px + 501px
    height: calculateToVwFrom1920(30);
    position: relative;
    top: calculateToVwFrom1920(33);
    right: calculateToVwFrom1920(195);
    float: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    & div:first-of-type {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      align-items: center;
      a {
        @include hoverBrendYellow;
      }
      & div.contactUsTel {
        margin: 0 calculateToVwFrom1920(30);
      }
    }
    .buttonsDiv {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: calculateToVwFrom1920(191);
      height: calculateToVwFrom1920(30);
      justify-content: space-between;
    }
    .hamburger {
      @include headerButton;
      @include headerButtonHoverActive;
      background: url("./Assets/Images/buttons/Menu.svg") center/cover;
      width: calculateToVwFrom1920(56);
      height: calculateToVwFrom1920(30);
      background-color: $whiteColor;
    }
    .compareButton {
      @include headerButton;
      @include headerButtonHoverActive;
      background: url("./Assets/Images/buttons/compareButton.svg") center/cover;
      background-color: $whiteColor;
    }
    .searchButton {
      @include headerButton;
      @include headerButtonHoverActive;
      background: url("./Assets/Images/buttons/searchButton.svg") center/cover;
      background-color: $whiteColor;
    }
    .languageSwitch {
      @include headerButton;
      background: url("./Assets/Images/buttons/lang/Property\ 1=Ukraine.svg")
        center/cover;
    }

    a {
      @include fw400fs16lh22ls0taLeft;
      color: $whiteColor;
    }
    .contactUsTel {
      button {
        background: url("./Assets/Images/buttons/Arrow\ down.svg") center/cover;
        width: calculateToVwFrom1920(24);
        height: calculateToVwFrom1920(24);
      }
    }
  }
}
