nav {
  background-color: $blackColor;
  margin-top: calculateToVwFrom1920(96);
  width: 100%;
  height: calculateToVwFrom1920(60);
  padding: calculateToVwFrom1920(20) calculateToVwFrom1920(195);
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    @include fw400fs16lh22ls0taLeft;
    @include hoverBrendYellow;
    color: $whiteColor;
    padding: calculateToVwFrom1920(1.5);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      background: url("./Assets/Images/Arrow\ left.svg") center/cover;
      width: calculateToVwFrom1920(20);
      height: calculateToVwFrom1920(20);
      margin: calculateToVwFrom1920(1.5) calculateToVwFrom1920(15);
    }
  }
  a.currectPage {
    opacity: 50%;
  }
}
