nav.navigation {
  background-color: $blackColor;
  margin-top: calculateToVwFrom1920(96);
  width: 100%;
  height: calculateToVwFrom1920(60);
  padding: calculateToVwFrom1920(20) calculateToVwFrom1920(195);
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    @include fw400fs16lh22ls0taLeft;
    @include hoverBrendYellow;
    color: $whiteColor;
    padding: calculateToVwFrom1920(1.5);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      background: url("./Assets/Images/Arrow\ left.svg") center/cover;
      width: calculateToVwFrom1920(20);
      height: calculateToVwFrom1920(20);
      margin: calculateToVwFrom1920(1.5) calculateToVwFrom1920(15);
    }
  }
  a.currectPage {
    opacity: 50%;
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  nav.navigation {
    margin-top: calculateToVwFrom360(114); //60px+54px
    width: calculateToVwFrom360(360);
    height: calculateToVwFrom360(69);
    padding: calculateToVwFrom360(20) calculateToVwFrom360(15);
    overflow-x: scroll;
    a {
      @include fw400fs18lh288For360;
      white-space: nowrap;
      &:not(:last-child)::after {
        width: calculateToVwFrom360(20);
        height: calculateToVwFrom360(20);
        margin: calculateToVwFrom360(4.5) calculateToVwFrom360(15);
      }
    }
  }
}
