.ourContactsSection {
  width: 100%;
  height: calculateToVwFrom1920(1040);
  padding: calculateToVwFrom1920(120) calculateToVwFrom1920(195);
  background-color: $blackColor;
  gap: calculateToVwFrom1920(60);
  display: flex;
  flex-direction: column;
  .ourContactsDescription {
    width: 100%;
    height: calculateToVwFrom1920(60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      @include fw400fs50lh60;
      color: $yellowColor;
    }
    button {
      width: calculateToVwFrom1920(205);
      height: calculateToVwFrom1920(40);
      display: flex;
      align-items: center;
      @include fw600fs16lh195;
      color: $whiteColor;
    }
  }
  .contactSection {
    width: calculateToVwFrom1920(1530);
    height: calculateToVwFrom1920(680);
    display: flex;
    justify-content: space-between;
    .contacts {
      width: calculateToVwFrom1920(490);
      height: calculateToVwFrom1920(214);
      @include fw500fs26lh3169;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > a {
        color: $whiteColor;
        @include hoverBrendYellow;
      }

      @include specialBorder(-30);

      .socialNetworks {
        display: flex;
        gap: calculateToVwFrom1920(30);
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calculateToVwFrom1920(30);
          height: calculateToVwFrom1920(30);
          @include hoverBrendYellow;
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: $whiteColor;
            }
          }
        }
      }
    }
    .interactiveMap {
      position: relative;
      width: calculateToVwFrom1920(1010);
      height: calculateToVwFrom1920(680);
      & > img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
      .region {
        position: absolute;
        opacity: 0%;
        transition: opacity 0.5s ease;
        &:hover {
          opacity: 2000%;
        }
      }
      .khmelnytskyi {
        height: calculateToVwFrom1920(184.15);
        width: calculateToVwFrom1920(97.36);
        top: calculateToVwFrom1920(162.21);
        left: calculateToVwFrom1920(225.53);
      }
      .dnipropetrovsk {
        height: calculateToVwFrom1920(143.92);
        width: calculateToVwFrom1920(220.48);
        top: calculateToVwFrom1920(284.2);
        left: calculateToVwFrom1920(607.72);
      }
      .kyiv {
        height: calculateToVwFrom1920(203.75);
        width: calculateToVwFrom1920(160.39);
        top: calculateToVwFrom1920(81.55);
        left: calculateToVwFrom1920(400.16);
      }
      .poltava {
        height: calculateToVwFrom1920(155.75);
        width: calculateToVwFrom1920(190.49);
        top: calculateToVwFrom1920(165.74);
        left: calculateToVwFrom1920(556.61);
      }
      .zaporizhzhia {
        height: calculateToVwFrom1920(154.53);
        width: calculateToVwFrom1920(168.67);
        top: calculateToVwFrom1920(373.44);
        left: calculateToVwFrom1920(675.99);
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  .ourContactsSection {
    width: calculateToVwFrom360(360);
    height: calculateToVwFrom360(621);
    padding: calculateToVwFrom360(60) calculateToVwFrom360(15);
    gap: calculateToVwFrom360(30);
    position: relative;
    .ourContactsDescription {
      height: unset;
      h2 {
        height: calculateToVwFrom360(32);
        @include fw500fs26lh3169For360;
      }
      button {
        position: absolute;
        bottom: calculateToVwFrom360(60);
        left: calculateToVwFrom360(77.5);
        @include fw600fs16lh195For360;
        width: calculateToVwFrom360(205);
        height: calculateToVwFrom360(40);
        padding: calculateToVwFrom360(10) 0;
      }
    }
    .contactSection {
      gap: calculateToVwFrom360(30);
      height: unset;
      width: 100%;
      flex-direction: column;
      .contacts {
        width: 100%;
        height: calculateToVwFrom360(134);
        gap: calculateToVwFrom360(15);
        @include fw500fs18lh2194for360;
        @include specialBorderfor360(-15);
        .socialNetworks {
          gap: calculateToVwFrom360(30);
          a {
            width: calculateToVwFrom360(30);
            height: calculateToVwFrom360(30);
            padding: calculateToVwFrom360(2.5);
          }
        }
      }
      .interactiveMap {
        width: calculateToVwFrom360(330);
        height: calculateToVwFrom360(220);
        .khmelnytskyi {
          height: calculateToVwFrom360(59.58);
          width: calculateToVwFrom360(31.81);
          top: calculateToVwFrom360(52.48);
          left: calculateToVwFrom360(73.69);
        }
        .dnipropetrovsk {
          width: calculateToVwFrom360(72.04);
          height: calculateToVwFrom360(46.56);
          top: calculateToVwFrom360(91.95);
          left: calculateToVwFrom360(198.56);
        }
        .kyiv {
          width: calculateToVwFrom360(52.4);
          height: calculateToVwFrom360(65.92);
          top: calculateToVwFrom360(26.38);
          left: calculateToVwFrom360(130.75);
        }
        .poltava {
          height: calculateToVwFrom1920(155.75);
          width: calculateToVwFrom1920(190.49);
          top: calculateToVwFrom1920(165.74);
          left: calculateToVwFrom1920(556.61);
        }
        .zaporizhzhia {
          height: calculateToVwFrom1920(154.53);
          width: calculateToVwFrom1920(168.67);
          top: calculateToVwFrom1920(373.44);
          left: calculateToVwFrom1920(675.99);
        }
      }
    }
  }
}
