.section4 {
  position: relative;
  height: calculateToVwFrom1920(1125);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background: $whiteColor;
  & > *:first-child {
    margin-left: calculateToVwFrom1920(195);
  }
  & > *:last-child {
    margin-right: calculateToVwFrom1920(195);
  }
  .InfoBlock {
    width: calculateToVwFrom1920(490);
    @include fw400fs18lh288;
    b {
      margin: 0;
      @include fw700fs18lh288;
    }
  }
  .buttonsSection {
    height: calculateToVwFrom1920(180);
    width: calculateToVwFrom1920(20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      background: none;
      width: calculateToVwFrom1920(20);
      height: calculateToVwFrom1920(10);
      stroke: $grayColor;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .section4Img {
    width: calculateToVwFrom1920(750);
    height: calculateToVwFrom1920(1000);
    object-fit: contain;
    margin-bottom: calculateToVwFrom1920(5);
  }
}
@media screen and (max-width: $minWidthForMobileView) {
  .section4 {
    width: 100vw;
    height: calculateToVwFrom360(766);
    padding: calculateToVwFrom360(60) 0 calculateToVwFrom360(60)
      calculateToVwFrom360(15);
    gap: calculateToVwFrom360(30);
    display: flex;
    flex-direction: column-reverse;
    overflow-x: scroll;
    align-items: flex-start;
    .buttonsSection {
      display: none;
    }
    .section4Img {
      width: calculateToVwFrom360(300);
      height: calculateToVwFrom360(440);
      margin: 0;
      object-fit: cover;
      object-position: center;
    }
    .InfoBlock {
      margin: 0;
      width: calculateToVwFrom360(300);
      height: calculateToVwFrom360(176);
      @include fw400fs16lh224For360;
      b {
        @include fw700fs16lh224For360;
      }
    }
  }
}
