.section7 {
  width: 100%;
  height: calculateToVwFrom1920(1000);

  img {
    width: 100%;
    height: calculateToVwFrom1920(1000);
    object-fit: contain;
    object-position: bottom;
    overflow: hidden;
  }
}
