@import "_fonts.scss";

$whiteColor: #ffffff;
$yellowColor: #f6d375;
$blackColor: #18181b;
$grayColor: #48494f;

@mixin backgroungLinearGray {
  background: linear-gradient(90deg, #bababa 0%, #f3f3f3 100%);
}

@mixin FrontFamalyMontserrat {
  font-family: Montserrat;
}

@mixin fw400fs16lh22ls0taLeft {
  font-weight: 400;
  font-size: calculateToVwFrom1920(16);
  line-height: calculateToVwFrom1920(22);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw400fs64lh77ls0taLeft {
  font-weight: 400;
  font-size: calculateToVwFrom1920(64);
  line-height: calculateToVwFrom1920(77);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw400fs50lh60ls0taLeft {
  font-weight: 400;
  font-size: calculateToVwFrom1920(50);
  line-height: calculateToVwFrom1920(60);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw400fs50lh60 {
  font-weight: 400;
  font-size: calculateToVwFrom1920(50);
  line-height: calculateToVwFrom1920(60);
}

@mixin fw400fs14lh1707 {
  font-weight: 400;
  font-size: calculateToVwFrom1920(14);
  line-height: calculateToVwFrom1920(17.07);
}

@mixin fw400fs18lh288 {
  font-weight: 400;
  font-size: calculateToVwFrom1920(18);
  line-height: calculateToVwFrom1920(28.8);
}

@mixin fw400fs16lh140 {
  font-weight: 400;
  font-size: calculateToVwFrom1920(16);
  line-height: 140%;
}

@mixin fw500fs20lh24ls0taLeft {
  font-weight: 500;
  font-size: calculateToVwFrom1920(20);
  line-height: calculateToVwFrom1920(24);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw500fs20lh2438ls0taLeft {
  font-weight: 500;
  font-size: calculateToVwFrom1920(20);
  line-height: calculateToVwFrom1920(24.38);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw500fs26lh3169 {
  font-weight: 500;
  font-size: calculateToVwFrom1920(26);
  line-height: calculateToVwFrom1920(31.69);
}

@mixin fw600fs16lh195ls0taLeft {
  font-weight: 600;
  font-size: calculateToVwFrom1920(16);
  line-height: calculateToVwFrom1920(19.5);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw600fs16lh195 {
  font-weight: 600;
  font-size: calculateToVwFrom1920(16);
  line-height: calculateToVwFrom1920(19.5);
}

@mixin fw700fs36lh36ls0taLeft {
  font-weight: 700;
  font-size: calculateToVwFrom1920(36);
  line-height: calculateToVwFrom1920(36);
  letter-spacing: 0em;
  text-align: left;
}

@mixin fw700fs18lh288 {
  font-weight: 700;
  font-size: calculateToVwFrom1920(18);
  line-height: calculateToVwFrom1920(28.8);
}

@mixin fw700fs20lh2438 {
  font-weight: 700;
  font-size: calculateToVwFrom1920(20);
  line-height: calculateToVwFrom1920(24.38);
}

@mixin headerButton {
  border-radius: calculateToVwFrom1920(99);
  width: calculateToVwFrom1920(30);
  height: calculateToVwFrom1920(30);
  &:hover {
    background-color: $yellowColor;
  }
}

@mixin visualyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@function calculateWidth($width) {
  @return percentage($width / 1920);
}

@function calculateWidthCurrectBlock($width, $blockWidth) {
  @return percentage($width / $blockWidth);
}

@function calculateToVwFrom1920($currentPX) {
  $onePercent: 1920 / 100;
  $calculate: $currentPX / $onePercent;
  @return #{$calculate}vw;
}
