.VisionSection {
  height: calculateToVwFrom1920(1000);
  width: 100%;
  display: flex;
  background: url("./Assets/Images/innerCar/image\ 61.png") center/cover;
  align-items: center;
  justify-content: center;
  button {
    color: $blackColor;
    width: calculateToVwFrom1920(260);
    height: calculateToVwFrom1920(46);
    border-radius: calculateToVwFrom1920(24);
    display: flex;
    justify-content: center;
    align-items: center;
    @include fw600fs16lh195ls0taLeft;
    @include buttonHoverActive($whiteColor, $yellowColor, $yellowPressedColor);
    svg {
      margin-right: calculateToVwFrom1920(8);
      width: calculateToVwFrom1920(20);
      height: calculateToVwFrom1920(20);
      path {
        fill: $blackColor;
      }
    }
  }
}

@media screen and (max-width: $minWidthForMobileView) {
  .VisionSection {
    width: 100vw;
    height: calculateToVwFrom360(660);
    button {
      width: calculateToVwFrom360(260);
      height: calculateToVwFrom360(46);
      border-radius: calculateToVwFrom360(24);
      @include fw600fs16lh195For360;
      svg {
        width: calculateToVwFrom360(20);
        height: calculateToVwFrom360(20);
        margin-right: calculateToVwFrom360(8);
      }
    }
  }
}
