.VisionSection {
  height: 1000px;
  width: 100%;
  display: flex;
  background: url("./Assets/Images/innerCar/image\ 61.png") center/cover;
  align-items: center;
  justify-content: center;
  button {
    color: $blackColor;
    width: 260px;
    height: 46px;
    border-radius: 24px;
    border: solid 1px $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fw600fs16lh195ls0taLeft;
    svg {
      margin-right: 8px;
      path {
        fill: $blackColor;
      }
    }
  }
}
